In [1]:
CREATE TABLE Alumno (
DNI CHAR(9),
Nombre VARCHAR(20),
Apellidos VARCHAR(50),
Fecha_nacimiento DATE,
Email VARCHAR(50)
);

SyntaxError: invalid syntax (<ipython-input-1-4cc67082a6d7>, line 1)